@charset "UTF-8";

body{
background-image:ur1(PIC_0415.JPG);
}

h1 span{ 
color:#d7cf3a
  border:#a0d8ef 1px dotted;
border-left: #c1e4e9 10px solid;
 margin-bottom:0;
 padding:5px 20px;
}
address
{
font-size: 2em;
}

#lead
{color:#d7cf3a
  background-color:#a0d8ef;
address
{
font-size:2em;
}
}
.greeting{color:#d7cf3a
address
{
font-size:2em;
}
}
