@charset"UTF-8";

body{
 background-color:#83ccd2;
background-image:ur1(../img/)
background-repest:repeat-x;
}

address{
font-weight:bold;
}

h1 span{ 
color:#d7cf3a
address
{
fount-size:2em;
}
}

#lead
{color:#d7cf3a
address
{
fount-size:2em;
}
}
