@charset"UTF-8";

.greeting{
 background-color:#83ccd2;
background-image:ur1(../img/PIC_0415.JPG)
background-repest:no-repeat;
}

address{
font-weight:bold;
}

h1 span{ 
color:#d7cf3a
address
{
fount-size:2em;
}
}

#lead
{color:#d7cf3a
address
{
fount-size:2em;
}
}
